
body {
	background-color: rgba(0,200,0,0.2);
	font-family: 'Barlow', san-serif;
	font-size: 240%;
	margin-left: 10px;
	}

h1 {
	color: rgb(75,75,75);
	text-align: center;
	text-shadow: 1px 1px;
	font-size: 50px;
	font-weight: bold;
	}

#error {
	color: rgb(110,110,110);
	}

#code {
	color: rgb(145,145,145);
	}

#images img {
	margin: 0% 0% 0% 0%;
}

#images {
	display: flex;
	justify-content: center;
}

img.leesoph2 {
	margin-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: rgb(200,0,0);
	text-shadow: 1px 1px;
	text-decoration-line: none;
	margin: 0px;
	font-weight: bold;
	}

nav {
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

nav ul {
	list-style: none;
	display: inline-flex;
	justify-content: space-around;
	width: 100%;
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	flex-wrap: nowrap;
	}

nav.subpages ul {
	justify-content: flex-end;
	width: 90%;
	display: inline-flex;
}

h2 {
	text-shadow: 1px 1px;
	color: rgb(200,0,0);
	font-size: 35px;
	}

footer {
	clear:all;
}

#repeated {
	color: rgb(145,145,145);
}

#brief {
	font-size: 80%;
}

#instructed {
	font-size: 50%;
}

#who1, #what1, #where1, #when1, #why1 {
	margin-left: 10px;
}

#who1, #what1, #where1, #when1, #why1, #While {
	color: rgb(200,0,0);
	font-weight: bold;
	}

#Guardian {
	background-color: #e6e6ff;
	font-size: 90%;
	margin-left: 10px;
}

input[type=text], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], input[type=reset]{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset]{
	background-color: #bbbbbb;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=reset]:hover {
    background-color: #aaaaaa;
}


