body {
	background-color: rgba(0,200,0,0.2);
	font-family: 'Barlow', san-serif;
	font-size: 240%;
	margin-left: 10px;
	}

h1 {
	color: rgb(75,75,75);
	text-align: center;
	text-shadow: 1px 1px;
	font-size: 50px;
	font-weight: bold;
	}

.error {
	color: rgb(110,110,110);
	}

.code {
	color: rgb(145,145,145);
	}

#images img {
	margin: 0% 0% 0% 0%;
}

.images {
	display: flex;
	justify-content: center;
}

a {
	color: rgb(200,0,0);
	text-shadow: 1px 1px;
	text-decoration-line: none;
	margin: 0px;
	font-weight: bold;
	}

nav {
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

nav ul {
	list-style: none;
	display: inline-flex;
	justify-content: space-around;
	width: 100%;
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	flex-wrap: nowrap;
	}

nav.subpages ul {
	justify-content: flex-end;
	width: 90%;
	display: inline-flex;
}

h2 {
	text-shadow: 1px 1px;
	color: rgb(200,0,0);
	font-size: 35px;
	}

footer {
	clear:all;
}

#repeated {
	color: rgb(145,145,145);
}

#brief {
	font-size: 80%;
}

#instructed {
	font-size: 50%;
}

.details {
	margin-left: 10px;
	color: rgb(200,0,0);
	font-weight: bold;
	}

.while {
	margin-left: 0px;
}

#Guardian {
	background-color: #e6e6ff;
	font-size: 90%;
	margin-left: 10px;
}

